html, .wrapper{
    background: rgb(53, 45, 71);
    color: rgb(236, 204, 24);
    text-align: center;
}
canvas{
    border: inset 5px rgb(149, 130, 21);
}
ul,li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
li{
    margin-bottom: 10px;
}
.wrapper{
    margin-top: 50px;
    font-family: 'Arvo', serif;
}
.main{
    margin-top: 30px;
}
#start{
    margin-bottom: 20px;
}
button{
    border-radius: 5px;
    border: solid 1px rgb(39, 33, 53);
    padding: 5px;
    background-color: rgb(77, 66, 9);
    color: antiquewhite;
    /* color: rgb(53, 45, 71); */
}


.rotateBtn{
    margin: 15px 0;
}